{{>head}}
{{>navbar}}
    <div class="col-8">
        <h1>About Page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, qui enim assumenda delectus nostrum soluta tempora autem odio? Numquam, quo. Dolores eaque veniam hic pariatur, reprehenderit libero ipsum voluptatibus itaque.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/5.jpg" class="img-thumbnail ">
    </div>

{{>footer}}